/* Root css */
:root {
    --orange: #FF6633;
    --white: #FFFFFF;
    --blue_50: #4D5E80;
    --blue_60: #6B7A99;
    --blue_70: #7D8FB3;
    --blue_80: #ADB8CC;
    --blue_85: #C3CAD9;
    --yellow: #FFCB33;
}

/* Header */
.header {
    border-bottom: 0.5px solid var(--blue_80);
}

.main-header {
    height: 90px;
    width: 90%;
    margin: 0 auto;
}

.fa-bars {
    color: var(--blue_85);
    width: 18px;
    height: 12px;
    cursor: pointer;
}

.fa-bars:hover {
    color: #FF6633;
}

.logo {
    color: var(--blue_50);
    margin-left: 36px;
}

.ul-link ul li a {
    color: var(--blue_60);
    padding-right: 30px;
    text-decoration: none;
}

.ul-link ul li a:hover {
    color: green;
}
.only-tablet-ul {
    display: none;
}
.only-tablet-ul img {
    object-fit: cover;
}
/* form search */

.btn-search {
    border: none;
    color: var(--blue_85);
    background-color: #F7F8FA;
    cursor: pointer;
}
.btn-search i {
    font-size: 18px;
}
.inp-search {
    border: 0px solid var(--blue_80);
    background-color: #F7F8FA;
    padding: 4px 12px;
    color: var(--blue_80);
}
.form-user {
    margin-left: 30px;
}
.form-icon form i {
    color: var(--blue_80);
    margin-right: 24px;
}

.form-user a {
    color: var(--blue_60);
    text-decoration: none;
    margin-right: 35px;
}
#check-service {
    display: none;
}
.form-user a:hover {
    color: #2a66de;
    text-decoration: underline;
}

.form-bag a {
    color: var(--blue_60);
    text-decoration: none;
}

.form-bag a:hover {
    color: #2a66de;
    text-decoration: underline;
}

/* content */

.div-content {
    margin-top: 50px;
}

.div-main-content {
    width: 90%;
    margin: 0 auto;
    height: 100%;

}

.content-left {
    margin-right: 95px;
}

.content-filter {
    background-color: var(--white);
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    gap: 20px;
    padding: 25px 33px 0px 33px;
    transform: translateY(-150%);
    transition: all 1s linear;
    opacity: 0;
    padding-bottom: 20px;
    position: absolute;
}

#open-filter {
    display: none;
}

#open-filter:checked~.content-filter {
    transform: translateY(0%);
    opacity: 1;
    position: static;

}

.form-filter {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.form-filter:hover {
    background-color: #edebeb;
    border-radius: 20px;
    color: var(--white);
}

.form-filter p {
    color: var(--blue_60);
}

.form-filter i {
    color: var(--blue_85);
}

/* Layout 1*/
.layout-1 {
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    padding: 0px 45px 40px 45px;
    text-align: center;
    margin-top: 40px;
    border: 1px solid rgba(38, 51, 77, 0.03);

}

.layout-1 h3 {
    color: var(--blue_60);
    width: 180px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.btn-view-more {
    background-color: #FF6633;
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 25px;
    cursor: pointer;
}

/* Layout 2*/
.layout-2 {
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    padding: 70px 53px 40px 53px;
    text-align: center;
    margin-top: 40px;
    border: 1px solid rgba(38, 51, 77, 0.03);

}

.layout-2 h3 {
    color: var(--blue_60);
    width: 180px;
    margin-top: 30px;
}

/* Content right */
.content-right {
    width: 100%;
    margin-top: 50px;
}

.title {
    color: var(--blue_50);
}

.form-sub-mail {
    padding: 0px 0px 0px 25px;
    margin-right: 25px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
}

.image-message {
    margin-right: 15px;
}

.btn-submit {
    background-color: #FF6633;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
    padding: 15px 30px;
    box-shadow: 0px 10px 30px rgba(255, 102, 51, 0.1);
    cursor: pointer;
}

.inp-mail {
    color: var(--blue_70);
    border: none;
    padding: 13px 45px 13px 12px;
    background-color: #FFFFFF;
    border-radius: 0px 25px 25px 0px;

}

.p-new {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 160px;
    color: #002881;
    opacity: 0.03;
    mix-blend-mode: normal;
    position: absolute;
}

/* Layout main */
.div-layout-main {
    margin-top: 85px;
}

/* card new ipad */
.card-new-ipad {
    padding: 40px;
    background-color: #F2F3F5;
    width: 43%;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    position: relative;
    height: 270px;
}
.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
}
.bg-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

}
.new-ipad {
    z-index: 10;
    position: absolute;
    width: 90%;
}
.image-bars {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.image-bars i {
    padding: 12px;
    border-radius: 10px;
}

.div-title {
    padding: 0px 12px;
    gap: 10px;
    background-color: #FF6633;
    border-radius: 25px;
    height: 20px;
}

.div-title h4 {
    color: #FFFFFF;
}

.image-arror-right {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;

}

.card-new-ipad h3 {
    margin: 30px 0px;
    color: var(--blue_50);
}

/* card airpods */
.card-airpod {
    width: 43%;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    padding: 40px;
}

.image-bars-1 {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FFFFFF;
}

.image-bars-1 i {
    padding: 12px;
    border-radius: 10px;
}

.image-arror-right-1 {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;

}

.info-card-airpod {
    width: 85%;
    margin: 0 auto;
}

.title-new {
    padding: 0px 12px;
    gap: 10px;
    background-color: #FF6633;
    border-radius: 25px;
    height: 20px;
    color: #FFFFFF;
    width: fit-content;
}

.div-info-right {
    text-align: center;
}

.div-info-right h3 {
    color: #FFFFFF;
}

.div-info-right p {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.div-button {
    width: 100%;
    margin: 0 auto;
}

.div-button button {
    color: #FF6633;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.div-button button:hover {
    text-decoration: underline;
}

/* div-menu-card */
.div-menu-card {
    margin-top: 30px;
}

.div-card-google {
    width: 27.5%;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
}

.info-google {
    flex-direction: column;
    width: 100%;
}

.info-google h3 {
    color: var(--white);
    font-family: "sans-serif";
    font-weight: 600;
    margin-top: -25px;
    margin-bottom: 40px;
}

.info-google p {
    color: var(--white);
    margin-top: 40px;
    margin-bottom: 20px;
}

/* div-card-google-stadia */
.div-card-google-stadia {
    width: 27.5%;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    background-color: #E4E7F0;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.background-red {
    background: linear-gradient(180deg, #F14227 0%, #B31252 30.73%);
    height: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50% 50% 10px 10px;
    text-align: center;
}
.p-google-stadia {
    color: #FFFFFF;
    margin-top: 40px;
}
.image-logo-stadia {
    flex-direction: column;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-top: -12px;
}
.image-6 {
    margin-bottom: 40px;
}
.div-card-samsung {
    width: 27.5%;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    position: relative;
}
.div-card-samsung h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}
.div-card-samsung p {
    color: #FFFFFF;
}
.image-watch {
    position: absolute;
    left: 37%;
    top: 21%;
}

/* div hypermarket electronics */
.div-title-electric  h2 {
    margin: 100px;
    color: #4D5E80;
}
.div-card-product {
    flex-wrap: wrap;
}
.div-image {
    height: 120px;
}
.close-card-tablet { 
    flex-basis: 23%;
}
.card-black {
    flex-basis: 23%;
    border-radius: 10px;
    background-color: #000000;
    margin-bottom: 24px;
    position: relative;
}
.card-white {
    flex-basis: 23%;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    position: relative;
}
.card-Xbox {
    flex-basis: 23%;
    border-radius: 10px;
    background-color: #000000;
    margin-bottom: 24px;
    position: relative;
}
.bg-yellow {
    width: 100%;
    height: 120px;
    background-color: var(--yellow);
    border-radius: 10px 10px 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.div-main-card {
    margin: 70px 0px 40px 0px;
    z-index: 10;
}
.info-card {
    margin-top: 70px;
    color: #FFFFFF;
    text-align: center;
}
.info-card h5 {
    text-transform: uppercase;
    color: #FFCB33;
}
.layout-3 {
    width: 100%;
    height: 120px;
    background: url(image/layout-3.png);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.layout-4 {
    width: 100%;
    height: 100%;
    background: url(image/layout-4.png);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;

}
.layout-5 {
    width: 100%;
    height: 120px;
    background: url(image/layout-5.png);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;

}
.name-product {
    color: var(--blue_50) !important;
}
.div-main-card {
    width: 100%;
}

.image-product {
    width: auto;
    height: auto;
}
.info-card-1 {
    margin-top: 70px;
    color: #FFFFFF;
    text-align: center;
}
.info-card-1 h5 {
    color: var(--blue_70);
}
.info-card-1 h3 {
    color: var(--blue_50);
}
.info-card-1 p {
    color: var(--blue_60);
}
/* Footer */
.div-footer {
    margin-top: 30px;
    border-top: 0.5px solid #f3efef;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    padding: 60px 0px;
}
.div-main-footer {
    width: 90%;
    margin: 0 auto;  
}
.footer-left {
    width: 10%;
}
.footer-left h2 {
    margin-bottom: 40px;
    color:  #4D5E80;
}

.footer-link {
    width: 30%;
    margin-right: 160px;
}
.footer-center {
    margin-left: 80px;
}
.footer-link ul li {
    padding-bottom: 16px;
}
.footer-link ul li a{
    color: var(--blue_60);
    text-decoration: none;
}
.footer-link ul li a:hover {
    text-decoration: underline;
    color: #2a66de;
}
.footer-right ul li{
    padding-bottom: 20px;
}
.footer-right ul li a {
    color: var(--blue_80);
    text-decoration: none;
}
.footer-right ul li a:hover {
    color: #2a66de;
    text-decoration: underline;
}